<!DOCTYPE html>
<html lang="en">

<%- include("./components/header.ejs")%>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-success position-absolute w-100"></div>
  <%- include("./components/sp_admin_sidebar.ejs")%>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <%- include("./components/topbar.ejs")%>
    <!-- End Navbar -->
    <%- include("./page/sp_admin_index/sp_admin_index.ejs")%>
  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <%- include("./components/leftsidebar.ejs")%>
  </div>
  <!--   Core JS Files   -->
  <%- include("./components/script.ejs")%>
  <%- include("./page/sp_admin_index/sp_admin_indexscript.ejs")%>
</body>

</html>